@tailwind base;
@tailwind components;
@tailwind utilities;


#rotationImage {
    animation-duration: 1.5s;
    animation-name: rotate-icon;
    animation-iteration-count: infinite;
}

@keyframes rotate-icon {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(90deg)
    }
}